includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - app
    level: 4
    ignoreErrors:
        - '#Attribute class JetBrains\\PhpStorm\\ArrayShape does not exist.#'
    scanFiles:
        - _ide_helper_models.php
    treatPhpDocTypesAsCertain: false
